#leftColumn {
  float: left;
  width: 150px;
  padding-left: 10px;
  padding-right: 5px;
}
#content {  width: 1155px; }
#tools_spacer { border-top: 1px solid #CACAAC; }
#tools { padding-top: 5px; }
#sorting { margin-top: 0px;}
#listbox { margin-left: 10px; }

#listtabscontainer ul {
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  list-style: none;
}

#listtabs li { display: none; }
#listtabs li:hover { background-color: rgba(236, 236, 236, 0.64);}
#listtabs li.xtab_smartlist { display: block; }
#listtabs li.xtab_selected { display: block; } /* avoid selected tab to be hidden */
#listtabs li:first-child { display: block; } /* show inbox */
#listtabs li.gtd-list { display: block; }

#listtabs .next-actions-list {
    font-size: 1em;
}
#listtabs .waiting-list {
    font-size: 1em;
}
#listtabs .today-list {
    font-size: 1em;
}
#listtabs .project-list {
    font-size: 2em;
}